.card{
    /*size*/
    height: 100%;
    width:100%;

    transform-style: preserve-3d;

    /*content alignment*/
    position: relative;

    /*styling*/
    border-radius: 5px; /*rounded corners*/
    border: 5px solid white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);

}

.card-front,
.card-back {
    /*size*/
    height: 100%;
    width: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /*alignment*/
    position:absolute;

    /* content alignment */
    display: flex;
    justify-content: center;
    align-items: center;

    /*content styling */
    font-family: Montserrat;
    font-weight: 800;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.9);
}

.card-front{
    background-color: lightgrey;
}

.card-back{
    background-color: grey;
    transform: rotateY(180deg);
}